/*///////////////////////////////////////////////////////////////////////////*/
/* BASE CONFIG
/*///////////////////////////////////////////////////////////////////////////*/
$loudColor: #000000;
$mediumColor:#333333;
$loudOppositeColor:#ffffff;
$actionColor:blue;
$loudActionColor:red;
$errorColor:red;
$successColor:green;
$neutralColor:blue;
/*///////////////////////////////////////////////////////////////////////////*/
$normalFont:arial, sans-serif; 
$highLightFont: sofia_problack, arial, sans-serif;