/*///////////////////////////////////////////////////////////////////////////*/
@import "compass/css3";
@import "compass/reset";
@include global-reset();

/*///////////////////////////////////////////////////////////////////////////*/
@import "fonts";
@import "base";
@import "helpers";
@import "forms";
@import "print";

/*///////////////////////////////////////////////////////////////////////////*/
@import "vendor/bootstrap.min";

/*///////////////////////////////////////////////////////////////////////////*/
/* CUSTOM STYLES */
/*///////////////////////////////////////////////////////////////////////////*/

html,body {
    font-family:$normalFont;
    height:100%;
}

.jumbotron {
    margin-top:80px;
}

.container {
    ul {
        list-style-type: square; 
        padding-left:20px;
    }
}

em {
    font-style: italic;
}

.toc-active a {
    text-decoration: underline;
}

.toc-h1 {

}

.toc-h2 {
    margin-left:30px;
    font-size: 0.9em;
}

.affix-top,.affix{
    position: static;
}

.well {
    word-wrap: break-word;
}

.jwt {
    li {
        margin:5px 0;
    } 
}