/*///////////////////////////////////////////////////////////////////////////*/
@import "compass/css3";
@import "compass/reset";
@include global-reset();

/*///////////////////////////////////////////////////////////////////////////*/
@import "fonts";
@import "base";
@import "helpers";
@import "forms";
@import "print";

/*///////////////////////////////////////////////////////////////////////////*/
@import "vendor/bootstrap.min";

/*///////////////////////////////////////////////////////////////////////////*/
/* CUSTOM STYLES */
/*///////////////////////////////////////////////////////////////////////////*/

html,body {
    font-family:$normalFont;
    height:100%;
}

.jumbotron {
    margin-top:70px;
}