/*///////////////////////////////////////////////////////////////////////////*/
@import "compass/css3";
@import "compass/reset";
@include global-reset();

/*///////////////////////////////////////////////////////////////////////////*/
@import "fonts";
@import "base";
@import "helpers";
@import "forms";
@import "print";

/*///////////////////////////////////////////////////////////////////////////*/
@import "vendor/bootstrap.min";

/*///////////////////////////////////////////////////////////////////////////*/
/* CUSTOM STYLES */
/*///////////////////////////////////////////////////////////////////////////*/

html,body {
    font-family:$normalFont;
    height:100%;
}

.jumbotron {
    margin-top:80px;
}

form {
    margin:15px 0;
}

.container {
    ul {
        list-style-type: square; 
        padding-left:20px;
    }

    ol {
        list-style-type: decimal;
        padding-left:20px;   
    }

    pre {
        background-color: #fff;
        border:none;
        line-height: 1em;
    }
}

em {
    font-style: italic;
}

.toc-active a {
    text-decoration: underline;
}

.toc-h1 {

}

.toc-h2 {
    margin-left:20px;
    font-size: 1em;
}

.toc-h3 {
    margin-left:40px;
    font-size: 0.9em;
}

.affix-top,.affix{
    position: static;
}

@media (min-width: 600px) {
    .affix-top {
        position: static;    
    }

    .affix {
        position: fixed;
        top:60px;
    }
}

.well {
    word-wrap: break-word;
}

.jwt {
    li {
        margin:5px 0;
    } 
}